@font-face {
  font-family: Metrophobic, Arial, serif;
  [src: [ <uri> [format(<string>#)]? | <font-face-name> ]#;]?
  [unicode-range: <urange>#;]?
  [font-variant: <font-variant>;]?
  [font-feature-settings: normal|<feature-tag-value>#;]?
  [font-stretch: <font-stretch>;]?
  font-weight: 400;
  [font-style: <style>];
}

body {
	font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
}

h1 {
    text-align: center;
}
